body {
      background-color: #212121;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      height: 100vh;
}

.upcoming_events .message{
    justify-content: center;
}

.heading{
    background-color: #212121;
}

.about_cards {
    white-space: no-wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    height: 100%;
    /*background-color: #90A4AE; /* Adding a semi-transparent overlay to improve text readability */
    padding: 20px;
}
