
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #000;
    /*background: linear-gradient(90deg, rgba(128, 128, 128, 1) 0%, rgba(74, 128, 154, 1) 25%, rgba(0, 128, 128, 1) 100%);*/
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

h1{
    color: #fff;
}