<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}

    <meta charset="UTF-8">
    <title>Grow Your Business Idea</title>

    <link rel="shortcut icon" type="x-icon" href="{% static 'images/download.png'%}">

    <link rel="stylesheet" href="{% static 'stylesheet/idea.css' %}">

</head>
<body style="background-color: #000">

    <div  class="container-fluid justify-content-center" style="padding: 50px; margin-top: 100px; margin-bottom: 30px;">

        <h1>
            <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="white" class="bi bi-amd" viewBox="0 0 16 16">
                <path d="m.334 0 4.358 4.359h7.15v7.15l4.358 4.358V0zM.2 9.72l4.487-4.488v6.281h6.28L6.48 16H.2z"/>
            </svg>
        </h1>

        <h2 style="color: #fff;">
            On Development Coming Soon. Stay Connected with Limkokwing University Career Services
        </h2>
    </div>
</body>
</html>