

<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Tracer Study</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <link rel="stylesheet" href="{% static 'stylesheet/main.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-*********************" crossorigin="anonymous" />


    <style>

        .footer{
            height: 100px;
        }
    </style>
</head>

<body style="background-color: ;">

    <div class="hero" style="margin-top: 0px;">
        <h1 class="fw-bold">Welcome to Limkokwing University of Creative Technology  Alumni Tracer Study System</h1>
        <br>

        <a class="btn bg-black fw-bold btn-lg" style="color: white;" href="alumni_login" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="white" class="bi bi-lock-fill" viewBox="0 0 16 16">
                  <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
            </svg>

            Alumni Login
        </a>
    </div>

<footer style="background-color: #616161;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-info">
                    <h3 class="fw-bold;">Recommended Links </h3>
                    <a href="#" style="color: #fff;">Limkokwing Guide to Careers 2024 </a><br>
                    <a href="#" style="color: #fff;">See a Career Adviser </a><br>
                    <a href="#" style="color: #fff;">Sectors and Occupations  </a><br>
                    <a href="#" style="color: #fff;">Cover Letters </a><br>
                    <a href="#" style="color: #fff;">CVs</a><br>
                </div>
            </div>

            <div class="col-md-6">
                <h3 class="fw-bold">Targeted Information</h3>
                <a href="#" style="color: #fff;">Information for Alumni </a><br>
                <a href="#" style="color: #fff;">Information for Recruiters </a><br>
                <a href="#" style="color: #fff;">Information for TVET Students </a><br>
            </div>
        </div>
    </div>
</footer>
<footer class="bg-black">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-info">
                    <h3 class="fw-bold">Contact Us</h3>
                    <p>Email: enquiry@limkokwing.ac.ls</p>
                    <p>Phone: +266 2231 5767</p>
                    <p>Address: Moshoeshoe Road, Maseru Central <br>
                        P.O. Box 8971 <br>
                        Maseru 100, Lesotho
                    </p>
                </div>
            </div>
            <div class="col-md-6">
                <h3 class="fw-bold">Follow Us</h3>
                <p>Stay connected with us on social media:</p>
                <!-- Add your social media icons/links here -->

                <div class="social-icons" >
                    <a href="https://www.facebook.com/" style="color: #fff" ><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.twitter.com" style="color: #fff" ><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/" style="color: #fff" ><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com" style="color: #fff" ><i class="fab fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
