

{% load static %}
<!-- {% include 'alumni/basetemplates/navbar.html' %} -->
<link rel="stylesheet" href="{% static 'stylesheet/loader.css' %}">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<div class="row">
  <div class="col-4" >

    <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">

      <nav class="nav nav-pills flex-column">
        <a class="nav-link fs-5 " href="#item-1-2">Faculty of Design and Innovation</a>
        <nav class="nav nav-pills flex-column" data-bs-theme="dark">
          <a class="nav-link ms-3 my-1" href="#item-1-1">Diploma in Graphic Design</a>
          <a class="nav-link ms-3 my-1" href="#item-1-1">Diploma in Creative Advertising</a>
          <a class="nav-link ms-3 my-1" href="#item-1-2">Diploma in Fashion Design and Apparel</a>
        </nav>

        <a class="nav-link fs-5 " href="#item-2">Faculty of Business and Globalization</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-3-2">Diploma in Marketing</a>
          <a class="nav-link ms-3 my-1" href="#item-3-2">Diploma in Business Management</a>
          <a class="nav-link ms-3 my-1" href="#item-3-1">BSc in Entrepreneurship</a>
          <a class="nav-link ms-3 my-1" href="#item-3-2">BSc in Business Management</a>
          <a class="nav-link ms-3 my-1" href="#item-3-2">BSc in International Business</a>
        </nav>

        <a class="nav-link fs-5 " href="#item-3">Faculty of Architecture and Build Environment</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-3-1">Diploma in Architecture</a>
          <a class="nav-link ms-3 my-1" href="#item-3-2">Diploma in Interior Design</a>
        </nav>

        <a class="nav-link fs-5 " href="#item-3">Faculty of Creativity in Tourism and Hospitality</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-3-1">Diploma in Tourism Management</a>
          <a class="nav-link ms-3 my-1" href="#item-3-2">Diploma in Tourism and Hospitality</a>
        </nav>

        <a class="nav-link fs-5 " href="#item-3">Faculty of Communication, Media and Broadcasting</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-3-2">BSc in Film Production</a>
          <a class="nav-link ms-3 my-1" href="#item-3-1">Diploma in Journalism</a>
          <a class="nav-link ms-3 my-1" href="#item-3-2">Diploma in Broadcasting and Media</a>
        </nav>

        <a class="nav-link fs-5" href="#item-3">Faculty of Information Communication and Technology</a>
        <nav class="nav nav-pills flex-column">
          <a class="nav-link ms-3 my-1" href="#item-3-1">BSc in Information Technology</a>
          <a class="nav-link ms-3 my-1" href="#item-3-2">BSc in Business Information Technology</a>
          <a class="nav-link ms-3 my-1" href="#item-3-2">BSc in Software Engineering With Multimedia</a>
          <a class="nav-link ms-3 my-1" href="#item-3-2">Associate Degree in Business Information Technology</a>
          <a class="nav-link ms-3 my-1" href="#item-3-2">Associate Degree in Business Information Technology</a>
          <a class="nav-link ms-3 my-1" href="#item-3-2">Associate Degree in Business Information Technology</a>
        </nav>
      </nav>
    </nav>
  </div>

  <div class="col-8 " data-bs-theme="dark">
    <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
      <div id="item-1-1">
        <br>
        <h3>
          Faculty of Design and Innovation
        </h3>
        {{ plot_div | safe }}
      </div>
      <div id="item-1-221">
        <h5>Item 1-1</h5>
        <p>
          Finite state machine is used to recognize patterns.
Finite automata machine takes the string of symbol as input and changes its state accordingly. In the input, when a desired symbol is found then the transition occurs.
While transition, the automata can either move to the next state or stay in the same state.
FA has two states: accept state or reject state. When the input string is successfully processed and the automata reached its final state then it will accept.
A finite automata consists of following:
Q: finite set of states
∑: finite set of input symbol
q0: initial state
F: final state
δ: Transition function

Transition function can be define as

δ: Q x ∑ →Q
FA is characterized into two ways:
DFA (finite automata)
NDFA (non deterministic finite automata)
DFA
DFA stands for Deterministic Finite Automata. Deterministic refers to the uniqueness of the computation. In DFA, the input character goes to one state only. DFA doesn't accept the null move that means the DFA cannot change state without any input character.

DFA has five tuples {Q, ∑, q0, F, δ}

Q: set of all states
∑: finite set of input symbol where δ: Q x ∑ →Q
q0: initial state
F: final state
δ: Transition function
Example
See an example of deterministic finite automata:

Q = {q0, q1, q2}
∑ = {0, 1}
q0 = {q0}
F = {q3}  </p>
      </div>
      <div id="item-1-2">
        <h2>
            Faculty of Innovation and Design
        </h2>

        <h3>
            Analysis of the graduated students under the faculty
            <br>
        </h3>
        <p>We are devoted to developing creative talent that is in a class of its own.</p>
      </div>
      <div id="item-2">
        <h4>Item 2</h4>
        <p>Finite state machine is used to recognize patterns.
Finite automata machine takes the string of symbol as input and changes its state accordingly. In the input, when a desired symbol is found then the transition occurs.
While transition, the automata can either move to the next state or stay in the same state.
FA has two states: accept state or reject state. When the input string is successfully processed and the automata reached its final state then it will accept.
A finite automata consists of following:
Q: finite set of states
∑: finite set of input symbol
q0: initial state
F: final state
δ: Transition function

Transition function can be define as

δ: Q x ∑ →Q
FA is characterized into two ways:
DFA (finite automata)
NDFA (non deterministic finite automata)
DFA
DFA stands for Deterministic Finite Automata. Deterministic refers to the uniqueness of the computation. In DFA, the input character goes to one state only. DFA doesn't accept the null move that means the DFA cannot change state without any input character.

DFA has five tuples {Q, ∑, q0, F, δ}

Q: set of all states
∑: finite set of input symbol where δ: Q x ∑ →Q
q0: initial state
F: final state
δ: Transition function
Example
See an example of deterministic finite automata:

Q = {q0, q1, q2}
∑ = {0, 1}
q0 = {q0}
F = {q3}  </p>
      </div>
      <div id="item-3">
        <h2>Faculty of Information Communication and Technology</h2>
        {{ plot_div|safe }}
      </div>
      <div id="item-3-1">
        <h5>BSc in Information Technology</h5>
        <p>Finite state machine is used to recognize patterns.
Finite automata machine takes the string of symbol as input and changes its state accordingly. In the input, when a desired symbol is found then the transition occurs.
While transition, the automata can either move to the next state or stay in the same state.
FA has two states: accept state or reject state. When the input string is successfully processed and the automata reached its final state then it will accept.
A finite automata consists of following:
Q: finite set of states
∑: finite set of input symbol
q0: initial state
F: final state
δ: Transition function

Transition function can be define as

δ: Q x ∑ →Q
FA is characterized into two ways:
DFA (finite automata)
NDFA (non deterministic finite automata)
DFA
DFA stands for Deterministic Finite Automata. Deterministic refers to the uniqueness of the computation. In DFA, the input character goes to one state only. DFA doesn't accept the null move that means the DFA cannot change state without any input character.

DFA has five tuples {Q, ∑, q0, F, δ}

Q: set of all states
∑: finite set of input symbol where δ: Q x ∑ →Q
q0: initial state
F: final state
δ: Transition function
Example
See an example of deterministic finite automata:

Q = {q0, q1, q2}
∑ = {0, 1}
q0 = {q0}
F = {q3}  </p>
      </div>
      <div id="item-3-2">
        <h5>Item 3-2</h5>
        <p>Finite state machine is used to recognize patterns.
Finite automata machine takes the string of symbol as input and changes its state accordingly. In the input, when a desired symbol is found then the transition occurs.
While transition, the automata can either move to the next state or stay in the same state.
FA has two states: accept state or reject state. When the input string is successfully processed and the automata reached its final state then it will accept.
A finite automata consists of following:
Q: finite set of states
∑: finite set of input symbol
q0: initial state
F: final state
δ: Transition function

Transition function can be define as

δ: Q x ∑ →Q
FA is characterized into two ways:
DFA (finite automata)
NDFA (non deterministic finite automata)
DFA
DFA stands for Deterministic Finite Automata. Deterministic refers to the uniqueness of the computation. In DFA, the input character goes to one state only. DFA doesn't accept the null move that means the DFA cannot change state without any input character.

DFA has five tuples {Q, ∑, q0, F, δ}

Q: set of all states
∑: finite set of input symbol where δ: Q x ∑ →Q
q0: initial state
F: final state
δ: Transition function
Example
See an example of deterministic finite automata:

Q = {q0, q1, q2}
∑ = {0, 1}
q0 = {q0}
F = {q3}  </p>
      </div>
      <div id="ict">
        <h5>Show Plots</h5>

        {{ plot_div|safe }}
      </div>

      <div id="ict66">
        <h5>Show Plots</h5>

        {% include 'alumni/plots/plot_data.html' %}

      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>