<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block tittle %}
            About Us
        {% endblock tittle %}
    </title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    {% load static %}
    <link rel="shortcut icon" type="x-icon" href="{% static 'images/download.png'%}">
    <link rel="stylesheet" href="{% static 'stylesheet/about.css' %}">
</head>
<body>
    {% include 'alumni/basetemplates/navbar.html' %}

    <!-- Upcoming events !-->
    <div class="upcoming_events" style="color: #EEEEEE;">
        <br>
        <div style="justify-content: center;">
            <h1>
                About Limkokwing University of Creative Technology
            </h1>
        </div>

        <div class="message">
            <p>
                At Limkokwing, we open our students' minds to connect the dots, see the big picture, and make a new sense of life. We create a campus environment where students are: Exposed to exciting campus events that build social skills. Challenged by industry projects that open their eyes to the complexities of the real world
            </p>
        </div>


        <!-- Abouts !-->
        <div class="heading">
            <h2>
                Dates of terms
            </h2>
        </div>
        <div>
            <div class="about_cards grid gap-5">
                <div class="card" style="width: 25rem;" >
                    <a class="stretched-link" href="ict">
                        <img src="{% static 'images/23.jpg'%}" class="card-img-top" alt="No image found" onclick="">
                    </a>

                    <div class="card-body">
                        <h5 class="card-tittle" >15 YEARS ANNIVERSARY</h5>
                        <p class="card-text">LIMKOKWING UNIVERSITY OF CREATIVE TECHNOLOGY came into existence in LESOTHO in year 2008. It existed over 15 years delivering innovation and creativity.</p>
                    </div>
                </div>

                <div class="card" style="width: 25rem;">
                    <a class="stretched-link" href="ict">
                        <img src="{% static 'images/campus.png'%}" class="card-img-top" alt="No image found">
                    </a>
                        <div class="card-body">
                            <h5 class="card-tittle" >HISTORY OF THE UNIVERSITY</h5>
                            <p class="card-text">LIMKOKWING UNIVERSITY OF CREATIVE TECHNOLOGY can lay claim of to 15 years of continuous existence in LESOTHO. Its place of origin is Malaysia.</p>
                        </div>
                </div>


                <div class="card" style="width: 25rem;">
                    <a class="stretched-link" href="ict">
                        <img src="{% static 'images/research.jpg'%}" class="card-img-top" alt="No image found">
                    </a>

                    <div class="card-body">
                         <h5 class="card-tittle" >ECONOMIC IMPACT</h5>
                        <p class="card-text">LIMKOKWING UNIVERSITY OF CREATIVE TECHNOLOGY contributes around M0.00 million to the LESOTHO economy, and supports more than 5,000 full time jobs.</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div>
            <div class="about_cards grid gap-5">
                <div class="card" style="width: 25rem;" >
                    <a class="stretched-link" href="ict">
                        <img src="{% static 'images/23.jpg'%}" class="card-img-top" alt="No image found" onclick="">
                    </a>

                    <div class="card-body">
                        <h5 class="card-tittle" >AWARDS</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>

                <div class="card" style="width: 25rem;">
                    <a class="stretched-link" href="ict">
                        <img src="{% static 'images/dot.jpg'%}" class="card-img-top" alt="No image found">
                    </a>
                        <div class="card-body">
                            <h5 class="card-tittle" >FACTS and FIGURES</h5>
                            <p class="card-text">Find facts and statistics on LIMKOKWING UNIVERSITY OF CREATIVE TECHNOLOGY here from the students body to research and awards. </p>
                        </div>
                </div>


                <div class="card" style="width: 25rem;">
                    <a class="stretched-link" href="ict">
                        <img src="{% static 'images/23.jpg'%}" class="card-img-top" alt="No image found">
                    </a>

                    <div class="card-body">
                        <h5 class="card-tittle" >DIVISIONS and DEPARTMENTS </h5>
                        <p class="card-text">LIMKOWING UNIVERSITY OF CREATIVE TECHNOLOGY is divided into Five faculties and Leap department, each with numerous departments asnd programs.</p>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>