{% extends "base.html" %}

{% block content %}
    <!-- Search Form -->
    <form method="GET" action="{% url 'search_available_jobs_in_employers' %}">
        <input type="text" name="s_job" placeholder="Search by job title">
        <button type="submit">Search</button>
    </form>

    <!-- Search Results -->
    {% if available_jobs %}
        <div class="container mt-5">
            <div class="card-container">
                {% for jobs in available_jobs %}
                    <div class="card">
                        <div class="card-body" style="margin-bottom: 50px;">
                            <h5 class="card-title fw-bold" style="margin-top: 30px;">{{ jobs.job_title }}</h5>
                            <p class="card-text" style="margin-bottom: 20px; padding: 20px;">
                                <strong>Company:</strong> {{ jobs.company }}<br>
                                <strong>Location:</strong> {{ jobs.job_location }}<br>
                                <strong>Job Type:</strong> {{ jobs.job_type }}<br>
                                <strong>Job Description:</strong> {{ jobs.description | safe }}<br>
                                <strong>Skills:</strong> {{ jobs.skills }}<br>
                                <strong>Deadline:</strong> {{ jobs.deadline }}<br>
                                <strong>Posted:</strong> <label style="color: red; font-weight: italic;">{{ jobs.created_at|naturaltime }}</label>
                            </p>
                            <a class="view-profile-link" href="{% url 'view_job' jobs.id %}" style="margin-top: 25px;">View Job</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <p>No jobs found.</p>
    {% endif %}
{% endblock %}
