<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LUCT Career Services</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<style>


.rectangle {
   padding:20px 3px;
  display: inline-block;
  width: 4px;
  height: 30px;
  background-color: #007bff; /* Blue color, you can change it to any color you want */
}
 #pdf-container {
      position: relative;
      width: 80%;
      height: 100%;
      position: relative;
      margin-left:310px;
  }
    .logo-link {
        display: flex;
        align-items: center; /* Vertically center items */
        text-decoration: none;
        color: black;
    }

        #pdf {
            width: 100%;

        }
        .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
      }

      .item {
        text-align: center;
      }

      .item img {
        max-width: 100%;
        height: auto;
      }

          .container1 {
            position: relative;
            text-align: center;
            color: BLACK;
            z-index:1;
          }

      .image {
        width: 100%;
        height: 600px;
      }


      .text1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 24px;
      }
      .contact-info {
            text-align: center;
            margin-top: 50px;
            background-color: black;
            color: white;
            padding: 20px;
            text-align: center;
            font-size: 20px;
        }

  </style>

</head>
<body>
    {% include 'alumni/alum_reg/nav.html' %}

        <div id="pdf-container" style="margin-left: 0px; width:100%; margin-bottom: 100px;" >
              <div class="container1" style="background-color: #CFD8DC;">
                  <img src="https://img.freepik.com/premium-photo/cheerful-african-american-applicant-talking-job-interview-hr-comission_116547-5379.jpg" alt="Image" class="image" style="height:500px">
                        <div class="type" style="width: 80%; position: absolute; z-index:1;  margin-top:-150px; background-color:#CFD8DC; margin-left:130px; height:600px; z-index:1000; height: auto; border-top-right-radius: 50px; border-top-left-radius: 50px; ">
                            <h3 class="text-center" style="margin-left:50px; color:#000; font-weight:bold; margin-top:30px">Types of Interviews</h3>

                            <p><h5 style="color:#000">An overview of competency interviews, strength-based interviews, academic interviews, and more.</h5>
                            <p style="color:#000; margin-right:490px">Click on each type of interview below to find out more. </p><br>
                            <hr style="width:1000px; margin-left:70px; ">
                            <a href="#" style="text-decoration: none; color:black; font-size:18px;padding:0px 20px; border-color:red; margin-right:690px; font-size:12; font-weight:bold" onclick="toggleContent(event)">Competency Interviews</a> <br>
                            <div id="content" class="hidden-content" style="padding:0px 20px; display:none; margin-right: 100px;" >
                                <p style="color:#000; text-align: justify; margin-left:75px; font-size: 18px;">This tends to be the most common type of interview question. Questions asked are structured to reflect the competencies sought by an employer for a particular job. You should be able to find out which competencies the employer is most interested in by looking at the recruitment pages of their website, and job descriptions usually include a 'person specification' or ‘essential selection criteria’, which will list the competencies required – the skills, experience, knowledge and other attributes for which the organisation is looking.

                                    For example, the employer may be looking for someone with organisational skills, and may choose to ask you a series of questions designed to steadily probe not only your experience in this area, but your understanding of the skills involved. The questions may follow a pattern such as:</p>

                                     <ul style="color:#000; text-align: justify; margin-left:75px;">
                                        <li>Would you describe yourself as an organised person?</li>
                                        <li>How have you demonstrated organisational skills? What did you do? What would you do differently next time?</li>
                                        <li>What makes a good organiser?</li>
                                        <li>Why are organisational skills important?</li>
                                        <li>Surely … (the interviewer challenges something you say in order to find out more)…?</li>
                                     </ul>

                                <p style="color:#000; text-align: justify; margin-left:75px;">For more information on general graduate competencies see our information on developing your employability skills</p>

                                <p style="color:#000; text-align: justify; margin-left:75px;">When preparing, try to map out your experiences using your CV, and identify which ones best demonstrate each of the competencies the recruiter is looking for. During your interview try to talk about a range of situations you have been in which demonstrate your breadth of experience and evidence different competencies. You might find the S.T.A.R acronym useful - Situation, Task, Action, Result - when you are answering questions. See our page on how to show you fit the job criteria for more information.</p>

                                <p style="color:#000; text-align: justify; margin-left:75px;">Some general questions to prepare for:</p>

                                    <ul style="color:#000; text-align: justify; margin-left:75px;">
                                        <li>Tell me about a time when you demonstrated strong leadership skills.</li>
                                        <li>Describe a project that you planned or organised. What did you do to make it a success?</li>
                                        <li>Tell me about a time when you worked as part of a team to deliver a goal.</li>
                                        <li>Give me an example of a change you have initiated yourself or an improvement you have identified.</li>
                                        <li>Describe a situation in which you had to persuade someone round to your way of thinking; how did you use your communication skills to convince them?</li>
                                        <li>When you were in a situation that tested your resilience, how did you persevere?</li>
                                        <li>Describe a difficult problem you have faced and how you resolved it.</li>
                                    </ul>
                            </div>
                            <hr style="width:1000px; margin-left:70px; opacity:1px; height: 2px; background-color: #fff; ">

                            <a href="#" style="text-decoration: none; color:black; font-size:18px;padding:0px 20px; border-color:red; margin-right:670px; font-size:12; font-weight:bold" onclick="toggleContent1(event)">Strength-Based Interviews</a> <br>

                            <div id="content1" class="hidden-content" style="padding:0px 20px; display:none; margin-right: 100px;" >
                                <p style="color:#000; text-align: justify; margin-left:75px;">A range of graduate recruiters including EY, Barclays and Nestle may use this type of interview as they understand that employees will perform best when using their individual strengths. They aim to get the best out of you by focusing on your natural aptitude, what you enjoy doing and what engages you. As defined by EY a strength is ‘an activity carried out on a regular basis, that is performed well and energises the individual doing so’.
                                    In this type of interview, interviewers will ask a wide range of questions to get a good feel of your personal abilities and will be looking not only at what you say but also how you say it; to see if your tone, body language and expression demonstrate a genuine motivation. As a result, there is no real right or wrong answer to strength-based questions so it's important to answer honestly in order to give the recruiter a good picture of the true you.</p>

                                <p style="color:#000; text-align: justify; margin-left:75px;">They may ask questions such as:</p>

                                     <ul style="color:#000; text-align: justify; margin-left:75px;">
                                        <li>When are you at your best?</li>
                                        <li>What are you most proud of?</li>
                                        <li>What do you do well?</li>
                                        <li>What do you love to do in your spare time?</li>
                                        <li>How would a close friend describe you?</li>
                                        <li>How do you feel when working on a disorganised project? What do you do in situations like this?</li>
                                        <li>How do you ensure you maximise your time to achieve your goals and targets?</li>
                                        <li>Suppose you were trying to achieve a goal but kept encountering unexpected setbacks along the way. What would you do? How do you feel in these situations?</li>
                                     </ul>

                                <p style="color:#000; text-align: justify; margin-left:75px;">In order to prepare you will need to think about your achievements academically, professionally and in an extra-curricular capacity. What have you done that you particularly enjoyed – why did you enjoy it? Also, as with all interviews think about the organisation and the role you are interviewing for: does it allow you to use your strengths and natural talents? What are they looking for, and how can you talk about your strengths to show them you've got what they want? Strength-based interviews don't necessarily require you to have lots of work experience (although we would recommend you try to get as much as possible in any case).</p>

                                <p style="color:#000; text-align: justify; margin-left:75px;">A good place to find out more about strength-based recruitment is the  <a href="https://www.ey.com/en_gl/careers/interview-tips" target="_blank"> <span style="color:blue; text-decoration: none"> EY webpage on interview tips</span></a>. The Prospects webpage on <a href="https://www.prospects.ac.uk/careers-advice/interview-tips/strength-based-interviews" target="_blank"> <span style="color:blue; text-decoration: none">strength-based interviewing</span></a> is also a useful resource.</p>

                            </div>
                            <hr style="width:1000px; margin-left:70px; ">

                             <a href="#" style="text-decoration: none; color:black; font-size:18px;padding:0px 20px; border-color:red; margin-right:710px; font-size:12; font-weight:bold" onclick="toggleContent2(event)">Academic Interviews</a> <br>

                            <div id="content2" class="hidden-content" style="padding:0px 20px; display:none; margin-right: 100px;" >
                                <p style="color:#000; text-align: justify; margin-left:75px;">For academic job interviews, large panels are common. For post-doc jobs four interviewers would be typical, but there can be up to ten or more interviewers for permanent lectureships or fellowships. Interviewers may be academics from your discipline but also from other departments, and from Human Resources. Try to find out who will be interviewing you so that you can research their interests. You may also have a number of ‘informal’ one-to-one interviews with a number of academics before or after your main panel interview. Treat these as part of the interview process but also see it as a chance to learn more about the department and job.</p>

                                <p style="color:#000; text-align: justify; margin-left:75px;">They may ask questions such as:</p>

                                     <ul style="color:#000; text-align: justify; margin-left:75px;">
                                        <li>When are you at your best?</li>
                                        <li>What are you most proud of?</li>
                                        <li>What do you do well?</li>
                                        <li>What do you love to do in your spare time?</li>
                                        <li>How would a close friend describe you?</li>
                                     </ul>
                            </div>
                            <hr style="width:1000px; margin-left:70px; ">

                            <a href="#" style="text-decoration: none; color:black; font-size:18px;padding:0px 20px; border-color:red; margin-right:790px; font-size:12; font-weight:bold" onclick="toggleContent3(event)">Other Types</a> <br>

                            <div id="content3" class="hidden-content" style="padding:0px 20px; display:none; margin-right: 100px;" >
                                <h6 style="font-weight:bold; color:black; margin-right:720px; margin-top:30px">Behavioural Interviews</h6>
                                <p style="color:#000; text-align: justify; margin-left:80px;">These look at experience to model future behaviours. Questions will be asked about how you have dealt with certain scenarios in the past to determine how you might act if faced with similar situations in the future. Have a look at the general competency-based questions above for a guide to the sorts of questions you might be asked (things like, 'tell us about a time when... How did you handle it?'). As your answers will require you to describe your past actions you can prepare in a similar way to competency-based questions using the STAR technique outlined above.</p>

                                <p style="color:#000; text-align: justify; margin-left:80px;">Some employers may also give you specific scenarios to think about and ask you how you would respond in that situation, again looking for key competencies and actions. Questions might include scenarios such as:</p>

                                     <ul style="color:#000; text-align: justify; margin-left:75px;">
                                        <li>If you were faced with strong resistance to a change you were implementing, how might you move forward?</li>
                                        <li>If you realised you had inadvertently breached the company's data protection rules what would you do?</li>
                                        <li>If a key client told you they were contemplating employing an alternative service provider how would you respond?</li>
                                        <li>What would you do if you were working on an important project and all of a sudden the priorities were changed?</li>

                                     </ul>
                                <p style="color:#000; text-align: justify; margin-left:80px;">Useful information is on the TPP interview advice page about <a href="https://www.tpp.co.uk/employers/recruitment-advice/interviewing/using-behavioural-interviewing/" target="_blank"> <span style="color:blue;"> behavioural interviewing.</span></a> </p>
                                <h6 style="font-weight:bold; color:black; margin-right:700px; margin-top:30px">Chronological interviews</h6>
                                <p style="color:#000; text-align: justify; margin-left:80px;">These interviews will take you chronologically through your life to date, and are likely to use your CV or completed application form as a basis. You may be expected to talk about anything that you have mentioned in your application, why you made certain decisions, what achievement has given you the greatest satisfaction or what skills you developed in particular positions.</p>

                            </div>
                            <hr style="width:1000px; margin-left:70px; ">

                        </div>
                    </div>
        </div>



    <script>
          // Function to toggle the visibility of the content
          function toggleContent(event) {
            event.preventDefault();
            var content = document.getElementById("content");
            // Toggle the display style between 'none' and 'block'
            content.style.display = content.style.display === 'none' ? 'block' : 'none';

          }

           function toggleContent1(event) {
            event.preventDefault();
            var content1 = document.getElementById("content1");
            // Toggle the display style between 'none' and 'block'
            content1.style.display = content1.style.display === 'none' ? 'block' : 'none';
          }

          function toggleContent2(event) {
            event.preventDefault();
            var content2 = document.getElementById("content2");
            // Toggle the display style between 'none' and 'block'
            content2.style.display = content2.style.display === 'none' ? 'block' : 'none';
          }

          function toggleContent3(event) {
            event.preventDefault();
            var content3 = document.getElementById("content3");
            // Toggle the display style between 'none' and 'block'
            content3.style.display = content3.style.display === 'none' ? 'block' : 'none';
          }
    </script>
</body>