{% extends "alumni/basetemplates/navbar.html" %}

{% block content%}
<div id="events-content" class="collapse">
{% load static %}
    <!-- Events content goes here -->
    <div class="container mt-5">
        <h1>Upcoming Events</h1>
        <div class="container-events">
            {% for EVENT in Events %}
            <a href="" class="event-link">
            <div class="event-card">
             <div class="card">
                  <div class="card event-card" style="width: 50%; flex-direction: column; justify-content: center;  align-items: center;  solid #ccc; background-color: #F5F5F5; border-radius: 20px;">
                    <img src="{{ EVENT.image.url }}" class="card-img-top" alt="">
                    <div class="card-body">
                        <h3 class="card-title">{{ EVENT.title }}</h3>
                        <p class="card-text"><strong>Date:</strong> {{ EVENT.start_time|date:"F j, Y" }}-{{ EVENT.end_time|date:"F j, Y" }}</p>
                        <p class="card-text"><strong>Time:</strong> {{ EVENT.start_time|time:"g:i A" }} - {{ EVENT.end_time|time:"g:i A" }}</p>
                        <p class="card-text"><strong>Location:</strong> {{ EVENT.location }}</p>
                        <p class="card-text"><strong>Organizer:</strong> {{ EVENT.organizer }}</p>
                        <p class="card-text">{{ EVENT.description }}</p>
                        <a href="View More" class="btn btn-view-more" style="width: 50%">VIEW MORE></a>
                    </div>
                  </div>
                </div>
            </div>
            </a>
         {% if forloop.counter|divisibleby:3 %}
                </div><div class="row">
            {% endif %}
            {% endfor %}
    </div>
    </div>
    </div>
{% endblock %}