<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LUCT Career Services</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<style>


      .footer {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 20px;
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
    }

    .footer p {
      margin-bottom: 5px;
    }
    .social-icons a {
      color: #fff;
      margin: 0 10px;
    }
        .rectangle {
           padding:20px 3px;
          display: inline-block;
          width: 4px;
          height: 30px;
          background-color: #007bff; /* Blue color, you can change it to any color you want */
        }
       #pdf-container {
            position: relative;
            width: 80%;
            height: 100%;
            position: relative;
            margin-left:310px;


        }

       #pdf-container {
            position: relative;
            width: 80%;
            height: 100%;
            position: relative;
            margin-top:150px;
            margin-left:395px;

        }
        #pdf {
            width: 70%;

        }

         body {
            height: 100%;
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            overflow-x: hidden;
        }
    .hidden-content {
        display: none;
    }
    p {
        cursor: pointer;
       }
  </style>

</head>
<body>
{% include 'alumni/students/students_nav.html' %}
<div class="make" style="margin-top:0px; background-color:#CFD8DC; height:2400px;  padding:80px 5px; width:400px; " >

<div class="material" style="">
  <ul>
        <a style="text-decoration: none; color:black; font-size:24px;padding:80px -20pxpx; font-family:Arial-Narrow, " href="student-applications"> CVs and Cover Letters</a>
        <P></P>
        <a style="text-decoration: none; color:black; font-size:24px" href="students_interviews"> Interview Preparation</a>
        <P></P>
        <a style="text-decoration: none; color:black; font-size:24px" href="#resources">Create a LinkedIn Profile</a>
        <P></P>
        <a style="text-decoration: none; color:black; font-size:24px" href="#resources">Resources and Tools</a>
</ul>

</div>



<div id="pdf-container" style="margin-top:-520px; width:1300px">
   <div class="advice" style="background-color:#BDBDBD;padding:10px; margin-top:250px">
       <p><h4 style="color:#FAFAFA">Home > Students > Making Applications </h4>
        <p></p>
     <h2 style="padding:2px 5px"><span class="rectangle"> </span> CVs and Cover Letters</h2>
   </div>
      <h2 style="font-weight:bold; padding:20px 20px">CVs</h2>
   <h5 style="padding:0px 20px; font-size:25px">A curriculum vitae: is a concise summary of your skills, achievements, and interests inside and outside your academic work.</h5>
   <p><h6 style="padding:0px 20px; font-size:20px">Employers may initially spend a very short time scanning your CV (perhaps as little as a few seconds), so it must be able to convey the most relevant points about your skills and experience in a clear, accessible way. The primary challenge is to make it easy for the reader to find exactly what they are looking for. You should focus on the reader's core requirements and adjust or adapt your CV for each application.</h6>


    <p style="padding:20px 200px"> <iframe width="760" height="550" src="https://www.youtube.com/embed/EScM-ZHewgU?si=D_bAXdRlAYbfBz14" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen ></iframe>
    <hr style="width:1000px; margin-left:0px">
    <p><a style="text-decoration: none; color:black; font-size:18px;padding:0px 20px; border-color:red; font-size: 22px;" onclick="toggleContent()">Key Advice</a>
    <hr style="width:1000px; margin-left:0px">
<!-- Content to be shown/hidden -->
        <div id="content" class="hidden-content" style="padding:0px 20px">
          <p><h4 style="font-weight:bold; font-size: 20px;">Top Tips</h4>
            <p><h4 style="font-weight:bold">Be concise</h4>
            <ul style="font-size: 20px;">
                <li>Keep it to one or two full pages (academic CVs may be longer) - check if there is specified page limit in the application guidance</li>
                <li>Use bullet points to present the information concisely</li>
                <li>Avoid too much context, excessive detail or unfocused material that will dilute the impact of your most relevant messages.</li>
            </ul><br><br>
        </div>

        <p><a style="text-decoration: none;padding:0px 20px; font-size: 22px;" href="https://www.indeed.com/career-advice/resumes-cover-letters/how-to-write-a-cv"> How to write a CV</a>
        <hr style="width:1000px; margin-left:0px">
        <p><a style="text-decoration: none;  font-size:22px;padding:0px 20px" href="https://help.open.ac.uk/how-to-write-a-cv-curriculum-vitae/choose-right-type-of-cv"> Standard CV formats</a>
        <hr style="width:1000px; margin-left:0px">
        <p><a style="text-decoration: none;  font-size:22px;padding:0px 20px" href="https://zety.com/blog/academic-cv-example"> Academic CVs</a>
        <hr style="width:1000px; margin-left:0px">
        <p><a style="text-decoration: none; font-size:22px;padding:0px 20px" href="https://www.imperial.ac.uk/research-and-innovation/support-for-staff/scholarly-communication/bibliometrics/narrative-cvs/"> Narrative CVs</a>
        <hr style="width:1000px; margin-left:0px">



        <h2 style="font-weight:bold; padding:20px 20px; ">Cover Letters</h2>
        <h5 style="padding:0px 20px; font-size: 20px;">A cover letter introduces and markets you effectively by complementing your CV.</h5>
        <p><h6 style="padding:0px 20px; font-size: 20px;">A cover letter tells your story by highlighting your relevant strengths and motivation for the person and organisation you are writing to, rather than listing all the things that can already be seen on your CV.</h6>
        <p><h6 style="padding:0px 20px; font-size: 20px;">Always take the opportunity to submit a cover letter if you are given the chance.</h6>
        <p><h6 style="padding:0px 20px 0px 20px; font-size: 20px;;">The cover letter gives you scope to showcase what interests and drives you, and your enthusiasm for an organisation and the role. You can use it to align yourself with the organisation’s strengths, values and culture, and highlight in a targeted way your knowledge and strongest, most relevant skills for the position.</h6>
        <p><h6 style="padding:0px 20px; font-size: 20px;">The content and style are up to you, but a logical and engaging structure is key. Below are some guidelines.</h6>


        <p style="padding:20px 200px; font-size: 20px;"> <iframe width="760" height="550" src="https://www.youtube.com/embed/L8hLYAbQLi0?si=epqGSVdWQNnmWESr" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

</div>

   <div class="footer">
    <p>&copy; 2024 LUCT Career Services. All rights reserved.</p>
    <p>Contact us: careerservices@luct.edu</p>
    <p class="social-icons">
      <a href="https://www.facebook.com/luctcareerservices"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/luctcareers"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/company/luctcareerservices"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.instagram.com/luctcareerservices"><i class="fab fa-instagram"></i></a>
      <a href="https://www.youtube.com/channel/luctcareerservices"><i class="fab fa-youtube"></i></a>
    </p>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script>
  // Function to toggle the visibility of the content
  function toggleContent() {
    var content = document.getElementById("content");
    // Toggle the display style between 'none' and 'block'
    content.style.display = content.style.display === 'none' ? 'block' : 'none';
  }
</script>
</body>
</html>