<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alumni Profile</title>
    <link rel="stylesheet" href="{% static 'stylesheet/navbar.css' %}">

</head>
<body style="background-color: #000;">

    <div class="container mt-5" style=" width: 55%; background-color: #CFD8DC; padding: 80px 80px; margin-left: 300px; margin-top: 100px; margin-right: 100px; border-radius: 20px;">
        <label class="mb-4 text-center fw-bold" style="margin-left: 300px; font-size: 50px; font-weight: bold;">Alumni Profile</label>
        <div class="card" style="height: auto;">
            <div class="card-body" style="justify-content: center; margin-left: 90px;">
                <!-- Display Profile Picture -->
                {% if alumni_profile.profile_picture %}
                    <img src="{{ alumni_profile.profile_picture.url }}" alt="Profile Picture" style="width: 200px; height: 200px; border-radius: 50%; margin-left: 280px;"><br><br>
                {% else %}
                    <!-- Placeholder or default image -->
                    <img src="{% static 'images/default_profile_picture.png' %}" alt="Profile Picture" style="width: 200px; height: 200px; border-radius: 50%;">
                {% endif %}

                <label class="card-title" style="font-size: 30px; font-weight: bold; margin-left: 180px;">{{ alumni_profile.user.first_name }} {{ alumni_profile.user.last_name }}</label>
                <p class="card-text" style="font-size: 20px; margin-left: 220px;">
                    <strong>Employment Status:</strong> {{ alumni_profile.employment_status }}<br>
                    <strong>Company:</strong> {{ alumni_profile.company_name }}<br>
                    <strong>Job Position:</strong> {{ alumni_profile.job_position }}<br>
                    <strong>Contacts:</strong> {{ alumni_profile.contacts }}<br>
                    <strong>Email:</strong> {{ alumni_profile.email }}<br>
                    <strong>Country:</strong> {{ alumni_profile.country }}<br>
                    <strong>Is it related to profession:</strong> {{ alumni_profile.is_related_to_profession }}<br>
                    <strong>Working Experience in Current Company:</strong> {{ alumni_profile.duration_in_company }}<br>
                    <!-- Add other details as needed -->
                </p>
            </div>
        </div>

        <label style="margin-left: 400px; font-size: 20px;">Go back to <a href="{% url 'alumni_profiles_list'%}" style="color: blue; text-decoration: none;">Alumni Profiles</a></label>
    </div>

</body>
</html>
