{% extends "admin/base.html" %}

{% block content %}
<div>
    <form action="." method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <label>Please provide a valid graduation year because it is important in the analysis of Alums.</label><br><br>
        <label for="graduation_year"><strong>Graduation Year:</strong></label>
        <input type="number" id="graduation_year" name="graduation_year" min="2011" max="2099" required style="width:150px"><br><br>

        <ul>
            {% if csv_data %}
                {% for row in csv_data %}
                    <li>{{ row }}</li>
                {% endfor %}
            {% endif %}
        </ul>

        <button class="btn bg-black" style="color: white;" type="submit">Upload File</button>
    </form>
</div>

{% endblock %}
