<!doctype html>
<html lang="en">
  <head>

    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="x-icon" href="{% static 'images/download.png'%}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'stylesheet/login.css' %}">
    <title>Log In</title>
  </head>
  <body>
    <div class="container-fluid justify-content-center">
      <form class="mx-auto" method="post" >

        {% csrf_token %}

            <div class="text-center" >
              <img src="{% static 'images/download.png'%}" class="img-thumbnail" alt="No image found">
            </div>


            <br>
            <br>
            <h2 class="text-center fw-bold" style="font-weight: bold;">Log In to LUCT Career Services</h2>
            <br>
            <h4>Logging-in adds a cookie to your computer</h4>
            <br>

            <label style="font-weight: bold; font-size: 30px;">Log In</label>
            <br>
            <br>
            <div class="mb-3">
            <br>
            <br>
            <div class="mb-3">
              <label class="form-label" style="font-weight: bold" >Username</label>
              <input type="text" class="form-control" name="username">
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label" style="font-weight: bold" >Password</label>

          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div>
             <a href="">Forgot your password</a>
        </div>
        <br>

        <button type="submit" class="btn btn-dark btn-lg">Log In</button>
        <br>
        <br>
        <div>
             <label class="label">Not have an account?</label>
             <a href="{% url 'signUp' %}">Sign Up</a>
        </div>

        <br>
        <label class="text-center">These pages are part of </label>
        <div class=" fluid-container justify-content: center">
          <a href="">Cookies Info</a>
          <label>            |               </label>
          <a href="">Privacy notice</a>
          <label>            |               </label>
          <a href="">LUCT Career Services Privacy policy</a>
          <label>            |               </label>
          <a href="">Terms and Conditions</a>
        </div>
            </div>
      </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  </body>
</html>